@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,500;1,500&family=Quicksand:wght@300;400;500;600;700&family=Secular+One&display=swap');
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 300ms linear;
  background-color: #a1a1aa;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
